.light{
    font-style:italic;
    color: gray;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.box{
	float:right;
	padding:0px 10px 10px 10px;
	margin: 0px 10px;
	background:white;
	border: solid thin #E1E1E1;
	clear:right;
}
.box h3{
	font-size:14px;
	font-weight:bold;
	color:#F9BF02;
	background:white;
	margin:0px -10px 0px -10px;
	border-bottom: solid thin #E1E1E1;
	padding-top:4px;
	padding-left:8px;
	padding-right:0px;
	padding-bottom:4px;	
}